.classify-container {
  width: 100%;
  display: flex;
  .van-sidebar {
    width: 90px;
    height: var(--container-height);
    overflow-y: auto;
  }
  .shop-content {
    flex: 1;
    height: var(--container-height);
    overflow-y: auto;
    background-color: white;
    font-size: 16px;
    .cate-title {
      height: 37px;
      line-height: 37px;
      padding-left: 12px;

      font-size: 15px;
      font-weight: 500;
    }
  }
}

>>> .van-icon__image {
  width: 80px !important;
  height: 80px !important;
}
